Sound good?
{{model.recommendation}}<br/>
<img src={{model.url}} />
{{model.accepted}}
<button {{action "createVote" true}}>Yes!</button><button {{action "createVote" false}}>Nope.</button>
<p>Logged in as {{user.userName}} {{user.userEmail}}</p>
Votes so far:
<ul>
{{#each model.votes as |vote|}}
<li>{{ vote.name }} ({{vote.email}}) voted {{#if vote.yesNo}}Yes{{else}}No{{/if}}</li>
{{/each}}
</ul>
